html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

body {
  background: linear-gradient(200deg, rgba(18, 13, 176, 0.3) , rgba(173, 114, 11, 0.1) );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

.box-temperature {
  box-shadow: 17px 20px 58px -12px rgba(0,0,0,0.75);
  overflow: hidden;
  width: 376.98px;
  height: 430.8px;
  min-height: 430.8px;
  margin: 20px;
  position: relative;
  background-image: url("/img/marioSunny.png");
  background-size: 100%;
}
