@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  align-items: center;
  background-color: #F4C52F;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
  width: 100%;
}

.box-temperature {
  background-image: url("/img/marioSunny.png");
  background-size: 100%;
  border: 1px solid black;
  box-shadow: 18px 22px 35px -6px rgba(0,0,0,0.75);
  margin: 20px;
  min-height: 430.8px;
  overflow: hidden;
  position: relative;
  height: 430.8px;
  width: 376.98px;
}

.box-footer {
  display: block;
  font-size: 80%;
  padding: 10px 0 0 0;
  text-align: end;
}

#brick-btn {
  background-image: url("/img/btn-temp-c.png");
  background-size: 100%;
  margin: 60px 0 0 17px;
  width: 35px !important; /* !important: Fix Jquey effect() resize bug */
  height: 35px !important; /* !important: Fix Jquey effect() bug */
  border-radius: 0;
  position: absolute;
  left: 19px;
  bottom: 168px;
}

#mario-btn {
  background-image: url("/img/mario1A.png");
  background-size: 100%;
  margin: 60px 0 0 17px;
  width: 28.175px !important; /* !important: Fix Jquey effect() resize bug */
  height: 54.3375px !important; /* !important: Fix Jquey effect() resize bug */
  border-radius: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  left:    22px;
  bottom:   97px;
}

.displayed-data {
  font-family: 'Press Start 2P', cursive;
  margin: 30px 0px 0 5px;
}

.cityg {
  margin-left: 5px;
  margin-top: -20px;
  max-width: 20%;
  font-size: 20px;
  word-spacing: -10px;
  text-shadow: 0px 1px #FFF;
}

.temperature {
  font-size: 50px;
  letter-spacing: -8px;
  text-shadow: 2px 1px #FFF;
}
